
/* 
.banner-image {
    min-height: 30rem;
    border-radius: 10px;
    background-image: url('../../assets/images/girl-img.jpg'); 
    height : 20rem;
    width : 100%;
    object-fit : cover;
    background-repeat : no-repeat
  } */

  /* .banner-text{
    min-height: 20rem;
    height : 20rem;
    width : 100%;
    object-fit : cover;
    border-radius: 10px;
    background-image:url('../../assets/images/home-banner.png');
    background-repeat : no-repeat
  } */

  .bgColor{
    min-height: 20rem;
    height : 20rem;
    width : 100%;
    object-fit : contain;
    border-radius: 10px;
    background-image:url('../../assets/images/home-banner.jpg');
    background-repeat : no-repeat
  }