.footer {
    background: black;
}
.footerContent {
    padding: 5rem 2rem 4rem 4rem;
}


.width90 {
    width: 90% ;
    display: block;
}


.footer .links a {
    text-decoration: none ;
}



.footer .logo{
    width: 4rem;
}
.footer .social i{
    width: 1.5rem;
    margin-top: 10px;
    color: #999;
}
.footer .social i:hover{
    color: white;
}

.footer .liWrapper{
    color: #999;
}

.footer .liWrapper:hover{
    color: white;
}

.footer .liWrapper:hover i{
    color: white;
}

.termsConditions {
    background: #000;
}

.termsConditions .condition {
    color: #FFF;
    font-size: 12px;
    line-height: 2rem;
    letter-spacing: 0.24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}




@media (max-width : 800px){
    .footerContent {
        padding: 2rem;
    }

    .col-md-3{
        margin : 20px 0px;
    }
}